@import '../variables';

.footer {
    position: relative;
    background-color: $PrimaryBlue100;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    .f3 {
        text-align: left;
        font-size: 2em;
        color: white;
        padding-top: 77px;
        padding-left: 20px;
        padding-bottom: 150px;
    }

    .f4 {
        text-align: left;
        width: 100%;
        color: white;

        font-size: 2em;
        padding-left: 20px;

    }

    .order__form {
        margin: 0 auto;
        width: 410px;
        margin-top: 87px;
    }

    .order__input {
        display: block;
        width: 300px;
        border-color: white;
        background: $PrimaryBlue100;
        padding: 15px 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
        color: white;

    }

    .button {
        width: 230px;
        height: 49px;
    }

    .button1 {

        height: 49px;
        width: 100%;
        color: white;

        font-size: 2em;
        padding-left: 80px;


    }


}

@media screen and (min-width: 1279px) {

    .footer .order__form {
        margin: 0 auto;
        width: 410px;
        margin-top: 87px;
    }

    .f3:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .f4:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
}

@media screen and (max-width: 1279px) and (min-width: 767px) {

    .footer .order__form {
        padding-bottom: 50px;
        width: 100%;
        padding-left: 20px;
        margin-top: 20px;
    }

    .footer .button1 {
        height: 49px;
        width: 100%;
        color: white;
        font-size: 2em;
        padding-left: 10px;
    }

    .order__form:nth-child(3) {
        grid-column: 1;
        grid-row: 2;

    }

    .f3:nth-child(1) {
        grid-column: span 2;
    }

    .button1:nth-child(4) {
        grid-column: 2;
        grid-row: 3;
    }

    .f4:nth-child(2) {
        grid-column: 1;
        grid-row: 3;
    }

    .footer .f3 {
        text-align: left;
        font-size: 2em;
        color: white;
        padding-bottom: 5px;
    }
}


@media screen and (max-width: 767px) {

    .footer .f3 {
        text-align: left;
        font-size: 2em;
        color: white;
        padding-bottom: 5px;
    }

    .footer .f4 {
        text-align: left;
        width: 100%;
        color: white;
        font-size: 2em;
        padding-left: 10px;

    }

    .footer .order__form {
        padding-bottom: 50px;
        width: 100%;
        padding-left: 20px;
        margin-top: 20px;
    }

    .footer .button1 {
        height: 49px;
        width: 100%;
        color: white;
        font-size: 2em;
        padding-left: 10px;
    }

    .order__form:nth-child(3) {
        grid-column: 1;
        grid-row: 2;

    }

    .button1:nth-child(4) {
        grid-column: 1;
        grid-row: 3;
    }

    .f4:nth-child(2) {
        grid-column: 1;
        grid-row: 4;
    }

    .f3:nth-child(1) {
        grid-column: span 2;
        grid-row: 1;
    }

}


@media screen and (max-width: 360px) {

    .order__form:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }

    .f3:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .f4:nth-child(2) {
        grid-column: 1;
        grid-row: 4;
    }

    .button1:nth-child(4) {
        grid-column: 1;
        grid-row: 3;
    }

    .footer .f3 {
        text-align: left;
        font-size: 1em;
        color: white;
    }


    .footer .f4 {
        font-size: 15px;
        padding-top: 30px;
    }

    .footer .button1 {
        padding-left: 20px;
        font-size: 15px;
    }

    .footer .order__form {
        padding-bottom: 50px;
        width: 100%;
        padding-left: 20px;
        margin-top: 20px;
    }
}