@import '../variables';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $GrayscaleBlack;
  margin-top: 40px;
  &__logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 170%;
  }
}
.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  &__item {
    &_button {
      color: #fff;
      padding: 14px 32px;
      background: $PrimaryBlue100;
    }
  }
}