@import '../variables';

.hero {
  padding: 100px 0;
  position: relative;

  &__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 140%;
    max-width: 760px;
    color: $Grayscale50;
    margin-bottom: 50px;

    &::after {
      position: absolute;
      content: '';
      top: 150px;
      right: 0;
      width: 400px;
      height: 2px;
      background: #000;
    }

    &_smaller {
      font-size: 52px;
    }
  }

  .hero__image {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .hero__parametrs {
    position: absolute;
    right: 140px;
    top: 240px;
    background: $PrimaryBlue100;
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;

    &__item {
      padding: 40px 0;
      span {
        display: block;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 10px;
        line-height: 160%;
      }

      strong {
        font-size: 48px;
      }
    }
  }
}