@import '../variables';

.map {

  padding: 57px 0;
  position: relative;

  &__img {
    width: 100%;
    height: 100%;
    padding-top: 25px;

    .images {
      width: 100%;
      height: auto;
      object-fit: cover;

    }
  }

  &__p {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

  }

  &__p {
    span {
      position: relative;
    }
  }

  &__p span::before {
    display: block;
    width: 500px;
    content: '';
    position: absolute;
    border-bottom: 2px solid #000;
    top: 50%;
    left: 130px;

  }

  &__drr {
    padding: 46px 5px;
    text-align: left;
    margin-right: 532px;
  }
}

@media screen and (max-width: 1278px) {
  .map {

    &__drr {
      width: 80%;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  .map {

    &__drr {
      width: 80%;
      font-size: 18px;
    }

    .grid-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .map {
    padding: 10px;

    &__drr {
      width: 100%;
      font-size: 10px;
    }

    .grid-container {
      grid-template-columns: repeat(1, 1fr);

    }

  }

}